<app-nav></app-nav>
<section class="section_all bg-light" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section_title_all text-center">
          <h4 class="font-weight-bold">
            Oh My <span class="text-custom">Wedding</span>
          </h4>
          <p class="section_subtitle mx-auto text-muted">
            Wedding is an important event in the couple's life. It is very
            exciting for a couple to prepare their wedding together. The
            planning process may however become stressful especially if time
            isn’t on your side. They prefer to pay a professional to deal with
            all the details of planning, organizing, operating and managing to
            ensure everything goes smoothly <br />
            Our Website handles the entire process. For instance, you can plan
            your own wedding by choosing from the categories -Food, Invitation
            Cards, Cars, Venues, Wedding-Clothes, Musical-Band- and create your
            own package or find ready-made packages created by us. Our website
            ensure to find whatever you wish.
          </p>
          <div class="">
            <i class=""></i>
          </div>
        </div>
      </div>
    </div>

    <div class="row vertical_content_manage mt-5">
      <div class="col-lg-6">
        <div class="about_header_main mt-3">
          <div class="about_icon_box">
            <p class="text_custom font-weight-bold">
              Make your wedding unforgetable.
            </p>
          </div>
          <h4 class="about_heading text-capitalize font-weight-bold mt-4">
            Finding your person is the hard part. We’ll make the wedding
            planning part easy..
          </h4>
          <p class="text-muted mt-3">
            Because we make everything easy. With our super helpful registry,
            affordable prices, and versatile of choices, your wedding planning
            journey will be so comfy..
          </p>

          <p class="text-muted mt-3">
            Our Website handles the entire process. For instance, you can plan
            your own wedding by choosing from the categories -Food, Invitation
            Cards, Cars, Venues, Wedding-Clothes, Musical-Band- and create your
            own package or find ready-made packages created by us. Our website
            ensure to find whatever you wish.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="img_about mt-3">
          <img
            src="https://images.pexels.com/photos/3585798/pexels-photo-3585798.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt=""
            class="img-fluid mx-auto d-block"
          />
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-lg-4">
        <div class="about_content_box_all mt-3">
          <div class="about_detail text-center">
            <div class="about_icon">
              <i class="fas fa-pencil-alt"></i>
            </div>
            <h5 class="text-dark text-capitalize mt-3 font-weight-bold">
              Creative Packages
            </h5>
            <p class="edu_desc mt-3 mb-0 text-muted">
              ready-made packages created by us.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="about_content_box_all mt-3">
          <div class="about_detail text-center">
            <div class="about_icon">
              <i class="fab fa-angellist"></i>
            </div>
            <h5 class="text-dark text-capitalize mt-3 font-weight-bold">
              Best experience
            </h5>
            <p class="edu_desc mb-0 mt-3 text-muted">
              Our website ensure you to find whatever you wish.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="about_content_box_all mt-3">
          <div class="about_detail text-center">
            <div class="about_icon">
              <i class="fas fa-paper-plane"></i>
            </div>
            <h5 class="text-dark text-capitalize mt-3 font-weight-bold">
              Versatile of Choices
            </h5>
            <p class="edu_desc mb-0 mt-3 text-muted">
              An unlimited amount of choices.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <h3>Our Website</h3>
          <ul>
            <li><a href="#">Packages</a></li>
            <li><a href="#">Categories</a></li>
            <!-- <li><a href="#">Hosting</a></li> -->
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 item">
          <h3>About Us</h3>
          <ul>
            <li><a href="#">Oh My Wedding</a></li>
            <li><a href="#">Versatile of Choices</a></li>
            <li><a href="#">Best experience</a></li>
            <li><a href="#">Cretaive packages</a></li>
          </ul>
        </div>
        <div class="col-md-6 item text">
          <h3>Oh My Wedding</h3>
          <p>The wedding website that'll do anything for love.</p>
        </div>
        <div class="col item social">
          <a href="#"><i class="icon ion-social-facebook"></i></a
          ><a href="#"><i class="icon ion-social-twitter"></i></a
          ><a href="#"><i class="icon ion-social-snapchat"></i></a
          ><a href="#"><i class="icon ion-social-instagram"></i></a>
        </div>
      </div>
      <p class="copyright">MSW</p>
    </div>
  </footer>
</div>
