<app-nav></app-nav>
<header>
  <div class="container text-center">
    <!-- Logo -->
    <div class="logo">
      <h1><b>List of cards</b></h1>
    </div>
    <h1>Invitation Cards?</h1>
  </div>
</header>

<button type="button" class="slide" (click)="goBacktoCategories()">
  <i class="icon-arrow-left"></i>
  <div>Categories</div>
</button>
<hr />

<div class="dropi">
  <div class="dropdown">
    <div>
      Your Budget:
      <input
        type="range"
        id="filterBudget"
        name="budget"
        min="1"
        max="600" 
        [(ngModel)]="price"
        (input)="searchforACard()"
      />
      {{ this.price }}
    </div>

    <!-- <label for="cars"> You Budget : </label>
    <select name="cars" [(ngModel)]="price">
      <option value="">all</option>

      <option value="100">100</option>
      <option value="200">200</option>
      <option value="300">300</option>
      <option value="400">400</option>
    </select> -->

    <!-- <form action="">
      <label for="birthday">Your Wedding date</label>
      <input type="date" name="birthday" />

      <button type="button" class="btn btn-light" style="margin: 17px">
        Submit
      </button>
    </form> -->
  </div>
  <br />
</div>

<div class="center">
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let element of cards; let i = index">
        <h4 class="text-center"><strong></strong></h4>
        <hr />
        <div class="profile-card-6">
          <img
            src="{{ element.image }}"
            class="img img-responsive"
            (click)="showDetails(element)"
          />
          <div class="profile-name">{{ element.name }} <br /></div>
          <div class="profile-position"></div>
          <div class="profile-overview">
            <div class="profile-overview">
              <div class="row text-center">
                <div class="col-xs-4">
                  <h3></h3>
                  <p></p>
                </div>
                <div class="col-xs-4">
                  <h3>{{ element.price }}</h3>
                  <p>Dinars</p>
                </div>
                <div class="col-xs-4">
                  <h3>{{ element.persons }}</h3>
                  <p>persons</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button
          type="button"
          class="btn btn-warning"
          style="margin-left: 0%"
          (click)="addAfavoriteCards(element.id)"
        >
          Add to favorites
        </button>
        <!-- <button
          type="button"
          class="btn btn-warning"
          (click)="showDetails(element)"
          style="margin-left: 12%"
        >
          Show More
        </button> -->
      </div>
    </div>
  </div>
</div>
