form{
    margin-left:  160%;
    margin-right: 160%;
    margin-top: 20%;
    margin-bottom: 50%;

    
} 

  form{
    border-radius: 10px;
    background-color:#E2C2B9;
    
}

button{
    margin: 5px;
    margin-left: 35%;
    margin-right: 35%;
    pad: auto;
    
    
}

.form-group{
    margin:15px;
    
} 
