<app-nav></app-nav>
<header>
  <div class="container text-center">
    <div class="logo">
      <h1><b>List of Cars</b></h1>
    </div>
    <h1>What is your wedding car ?</h1>
  </div>
</header>

<button type="button" class="slide" (click)="goBacktoCategories()">
  <i class="icon-arrow-left"></i>
  <div>Categories</div>
</button>
<hr />
<div class="dropi">
  <div class="dropdown">
    <div>
      Your Budget:
      <input
        type="range"
        id="filterBudget"
        name="budget"
        min="1"
        max="4000"
        [(ngModel)]="price"
        (input)="searchfortheprice()"
      />
      {{ this.price }}

      <label for="cars"> Brand </label>
      <select name="cars" [(ngModel)]="carbrand">
        <option value="">all</option>

        <option value="Ferrari">Vintage</option>
        <option value="Mercedes">Mercedes</option>
        <option value="Tesla">Tesla</option>
        <option value="Ferrari">Ferrari</option>
      </select>
      <button
        type="button"
        class="btn btn-warning"
        style="margin: 17px"
        (click)="searchforACar()"
      >
        Search
      </button>
    </div>

    <!-- <button
      class="btn btn-warning"
      style="margin-left: 80%; margin-top: 0%"
      (click)="goBacktoCategories()"
    >
      Go back to categories
    </button> -->

    <!-- <form action="">
      <label for="birthday">Your Wedding date</label>
      <input type="date" name="birthday" />
      <input type="submit" />
    </form> -->
  </div>
  <br />
</div>

<div class="center">
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let element of cars; let i = index">
        <!-- <h4 class="text-center"><strong>STYLE 2</strong></h4> -->
        <hr />
        <div class="profile-card-6">
          <img
            src="{{ element.image }}"
            class="img img-responsive"
            (click)="showDetails(element)"
          />
          <div class="profile-name">{{ element.name }} <br /></div>
          <div class="profile-position">Lorem Ipsum Donor</div>
          <div class="profile-overview">
            <div class="profile-overview">
              <div class="row text-center">
                <div class="col-xs-4">
                  <h3></h3>
                  <p></p>
                </div>
                <div class="col-xs-4">
                  <h3>{{ element.price }}</h3>
                  <p>Dinars</p>
                </div>
                <div class="col-xs-4">
                  <h3>{{ element.brand }}</h3>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button
          type="button"
          class="btn btn-warning"
          style="margin-left: 0%"
          (click)="addAfavoriteCar(element.id)"
        >
          Add to favorites
        </button>
      </div>
    </div>
  </div>
</div>
