<app-nav></app-nav>
<header>
  <div class="container text-center">
    <!-- Logo -->
    <div class="logo">
      <h1><b>List of Packages</b></h1>
    </div>
    <h1>What package do you want ?</h1>
  </div>
</header>
<br />
<br />
<br />

<!-- <button type="button" class="slide" (click)="previousPage()">
  <div>Go back to Packages & Categories</div>
  <i class="icon-arrow-left"></i>
</button> -->
<button
  class="btn btn-warning"
  style="margin-left: 2%"
  (click)="previousPage()"
>
  Go back to Packages & Categories
</button>

<button
  (click)="categoriesList()"
  type="button"
  class="btn btn-warning"
  style="margin-left: 80%"
>
  Create your own Package
</button>

<br />
<br />
<br />
<div class="madcenter">
  <p>Your Budget:</p>
  <input
    type="range"
    id="filterBudget"
    name="budget"
    min="1"
    max="40000"
    [(ngModel)]="price"
    (input)="searchforAPackage()"
  />
  <h1>{{ this.price }}</h1>
  
</div>
<div class="dropi">
  <div class="dropdown">
    <div>
      <div>
        <!-- <p>Your Budget:</p>
        <input
          type="range"
          id="filterBudget"
          name="budget"
          min="1"
          max="40000"
          [(ngModel)]="price"
          (input)="searchforAPackage()"
        />
        <h1>{{ this.price }}</h1> -->
      </div>

      <!-- <label for="cars"> You place : </label>

    <select name="cars" id="cars">
      <option value="Tunis">Tunis</option>
      <option value="Sfax">Sfax</option>
      <option value="Djerba">Djerba</option>
    </select>

    <button
      type="button"
      class="btn btn-warning"
      style="margin: 17px"
      (click)="search()"
    >
      Look for a specific package
    </button> -->
    </div>
    <br />
  </div>
  <div class="center">
    <div class="container">
      <div class="row">
        <div class="col-md-4" *ngFor="let element of safeprice; let i = index">
          <hr />
          <div class="profile-card-6">
            <img
              src="{{ element.image }}"
              (click)="showDetails(element)"
              class="img img-responsive"
            />
            <div class="profile-name">{{ element.name }} <br /></div>
            <div class="profile-position">Lorem Ipsum Donor</div>
            <div class="profile-overview">
              <div class="profile-overview">
                <div class="row text-center">
                  <div class="col-xs-4">
                    <h3></h3>
                    <p></p>
                  </div>
                  <div class="col-xs-4">
                    <h3>{{ element.price }}</h3>
                    <p>Dinars</p>
                  </div>
                  <div class="col-xs-4">
                    <h3>{{ element.persons }}</h3>
                    <p>Person</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-warning">
            Add to favorites
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<br />
<br />
<footer class="w3-center w3-black w3-padding-16">
  <p>
    Powered by
    <a title="W3.CSS" target="_blank" class="w3-hover-text-green">MSW</a>
  </p>
</footer>
<div class="w3-hide-small" style="margin-bottom: 32px"> </div>
