<app-nav></app-nav>
<header>
  <div class="container text-center">
    <!-- Logo -->
    <div class="logo">
      <h1><b>List of Favorites</b></h1>
    </div>
    <h1></h1>
  </div>
</header>
<br />
<br />
<div class="center">
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let element of favourites">
        <h4 class="text-center"><strong></strong></h4>
        <hr />
        <div class="profile-card-6">
          <img src="{{ element.item.image }}" class="img img-responsive" />
          <div class="profile-name">
            <p>{{ element.item.name }}</p>
            <br />
          </div>
          <div class="profile-position"></div>
          <div class="profile-overview">
            <div class="profile-overview">
              <div class="row text-center">
                <div class="col-xs-4">
                  <h3></h3>
                  <p></p>
                </div>
                <div class="col-xs-4">
                  <h3>{{ element.item.price }}</h3>
                  <p>Dinars</p>
                </div>
                <div class="col-xs-4">
                  <h3>{{ element.item.persons }}</h3>

                  <p>Person</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button
          type="button"
          class="btn btn-warning"
          style="margin-left: 5%"
          (click)="deleteAfavorite(element.id)"
        >
          Remove
        </button>
      </div>
    </div>
  </div>
  <br />
  <br />
  <!-- <button type="button" class="btn btn-warning" style="margin-left: 100%"> -->
  <button
    type="button"
    class="btn btn-warning"
    style="margin-left: 80%"
    (click)="reserveNow()"
  >
    Reserve Now
  </button>
</div>
<br />
<br />

<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <h3>Services</h3>
          <ul>
            <li><a href="#">Web design</a></li>
            <li><a href="#">Development</a></li>
            <li><a href="#">Hosting</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 item">
          <h3>About Us</h3>
          <ul>
            <li><a href="#">Company</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Careers</a></li>
          </ul>
        </div>
        <div class="col-md-6 item text">
          <h3>Wedding Planner</h3>
          <p>
            Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus
            ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique
            lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.
          </p>
        </div>
        <div class="col item social">
          <a href="#"><i class="icon ion-social-facebook"></i></a
          ><a href="#"><i class="icon ion-social-twitter"></i></a
          ><a href="#"><i class="icon ion-social-snapchat"></i></a
          ><a href="#"><i class="icon ion-social-instagram"></i></a>
        </div>
      </div>
      <p class="copyright">MSW</p>
    </div>
  </footer>
</div>
