<header>
  <div class="container text-center">
    <!-- Logo -->
    <div class="logo">
      <h1><b>List of Favorites</b></h1>
    </div>
    <h1></h1>
  </div>
</header>

<div class="center">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4 class="text-center"><strong></strong></h4>
        <hr />
        <div class="profile-card-6">
          <img src="        " class="img img-responsive" />
          <div class="profile-name"><br /></div>
          <div class="profile-position"></div>
          <div class="profile-overview">
            <div class="profile-overview">
              <div class="row text-center">
                <div class="col-xs-4">
                  <h3></h3>
                  <p></p>
                </div>
                <div class="col-xs-4">
                  <h3></h3>
                  <p></p>
                </div>
                <div class="col-xs-4">
                  <h3></h3>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-warning" style="margin-left: 5%">
          Remove
        </button>
        <button type="button" class="btn btn-warning" style="margin-left: 5%">
          Reserve Now
        </button>
      </div>
    </div>
  </div>
</div>
