form {
  margin-left: 160%;
  margin-right: 160%;
  margin-top: 20%;
  margin-bottom: 50%;
}

form {
  border-radius: 10px;
  background-color: #e2c2b9;
}

button {
  margin: 5px;
  margin-left: 35%;
  margin-right: 35%;
}
.container {
  background-image: url("https://cache.magicmaman.com/data/photo/w1000_ci/1ea/couple-mariage-exigences.jpg");
  width: 100%;
}
