<app-nav></app-nav>
<header>
  <div class="container text-center">
    <div class="logo">
      <h1><b>Bootstrap Profile Cards 2019</b></h1>
    </div>

    <h1>Pure CSS Profile Cards with Bootstrap</h1>
  </div>
</header>
<br />
<br />
<br />
<!-- <button type="button" class="slide" (click)="previousPage()">
  <div>Go back to the previous page</div>
  <i class="icon-arrow-left"></i>
</button> -->

<button
  class="btn btn-warning"
  style="margin-left: 2%"
  (click)="previousPage()"
>
  Go back to the previous page
</button>

<br />
<br />
<br />
<div class="center">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4 class="text-center"><strong></strong></h4>
        <hr />
        <div class="profile-card-6">
          <img
            src="https://images.pexels.com/photos/3014858/pexels-photo-3014858.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            class="img img-responsive"
            (click)="hosts()"
          />
          <div class="profile-name">HOSTS <br /></div>
          <div class="profile-position"></div>
          <div class="profile-overview">
            <div class="profile-overview">
              <div class="row text-center">
                <div class="col-xs-4">
                  <h3></h3>
                  <p></p>
                </div>
                <div class="col-xs-4">
                  <h3></h3>
                  <p></p>
                </div>
                <div class="col-xs-4">
                  <h3></h3>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <h4 class="text-center"><strong></strong></h4>
        <hr />
        <div class="profile-card-6">
          <img
            src="https://images.pexels.com/photos/6358797/pexels-photo-6358797.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            class="img img-responsive"
            (click)="dressing()"
          />
          <div class="profile-name">DRESSING <br /></div>
          <div class="profile-position"></div>
          <div class="profile-overview">
            <div class="profile-overview">
              <div class="row text-center">
                <div class="col-xs-4">
                  <h3></h3>
                  <p></p>
                </div>
                <div class="col-xs-4">
                  <h3></h3>
                  <p></p>
                </div>
                <div class="col-xs-4">
                  <h3></h3>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <h4 class="text-center"><strong></strong></h4>
        <hr />
        <div class="profile-card-6">
          <img
            src="https://images.pexels.com/photos/3839651/pexels-photo-3839651.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            class="img img-responsive"
            (click)="invitationCardList()"
          />
          <div class="profile-name">INVITATION <br />CARDS</div>
          <div class="profile-position"></div>
          <div class="profile-overview">
            <div class="profile-overview">
              <div class="row text-center">
                <div class="col-xs-4">
                  <h3></h3>
                  <p></p>
                </div>
                <div class="col-xs-4">
                  <h3></h3>
                  <p></p>
                </div>
                <div class="col-xs-4">
                  <h3></h3>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <h4 class="text-center"><strong></strong></h4>
        <hr />
        <div class="profile-card-6">
          <img
            src="https://images.pexels.com/photos/239581/pexels-photo-239581.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            class="img img-responsive"
            (click)="foodlist()"
          />
          <div class="profile-name">FOOD <br /></div>
          <div class="profile-position"></div>
          <div class="profile-overview">
            <div class="profile-overview">
              <div class="row text-center">
                <div class="col-xs-4">
                  <h3></h3>
                  <p></p>
                </div>
                <div class="col-xs-4">
                  <h3></h3>
                  <p></p>
                </div>
                <div class="col-xs-4">
                  <h3></h3>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <h4 class="text-center"><strong></strong></h4>
        <hr />
        <div class="profile-card-6">
          <img
            src="https://images.pexels.com/photos/2922140/pexels-photo-2922140.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            class="img img-responsive"
            (click)="carsList()"
          />
          <div class="profile-name">CARS <br /></div>
          <div class="profile-position"></div>
          <div class="profile-overview">
            <div class="profile-overview">
              <div class="row text-center">
                <div class="col-xs-4">
                  <h3></h3>
                  <p></p>
                </div>
                <div class="col-xs-4">
                  <h3></h3>
                  <p></p>
                </div>
                <div class="col-xs-4">
                  <h3></h3>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <h4 class="text-center"><strong></strong></h4>
        <hr />
        <div class="profile-card-6">
          <img
            src="https://images.pexels.com/photos/1813124/pexels-photo-1813124.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            class="img img-responsive"
            (click)="musicalBandList()"
          />
          <div class="profile-name">MUSICAL <br />BAND</div>
          <div class="profile-position"></div>
          <div class="profile-overview">
            <div class="profile-overview">
              <div class="row text-center">
                <div class="col-xs-4">
                  <h3></h3>
                  <p></p>
                </div>
                <div class="col-xs-4">
                  <h3></h3>
                  <p></p>
                </div>
                <div class="col-xs-4">
                  <h3></h3>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<br />
<br />
<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <h3>Our Website</h3>
          <ul>
            <li><a href="#">Packages</a></li>
            <li><a href="#">Categories</a></li>
            <!-- <li><a href="#">Hosting</a></li> -->
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 item">
          <h3>About Us</h3>
          <ul>
            <li><a href="#">Oh My Wedding</a></li>
            <li><a href="#">Versatile of Choices</a></li>
            <li><a href="#">Best experience</a></li>
            <li><a href="#">Cretaive packages</a></li>
          </ul>
        </div>
        <div class="col-md-6 item text">
          <h3>Oh My Wedding</h3>
          <p>The wedding website that'll do anything for love.</p>
        </div>
        <div class="col item social">
          <a href="#"><i class="icon ion-social-facebook"></i></a
          ><a href="#"><i class="icon ion-social-twitter"></i></a
          ><a href="#"><i class="icon ion-social-snapchat"></i></a
          ><a href="#"><i class="icon ion-social-instagram"></i></a>
        </div>
      </div>
      <p class="copyright">MSW</p>
    </div>
  </footer>
</div>
