<!-- <div class="back"></div>
<nav>
  <a href="#">About</a>
  <a href="#">Works</a>
  <a href="#">Partners</a>
  <a href="#">Price</a>
  <a href="#">Contacts</a>
</nav> -->
<!-- <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">OhMywedding</a>
    </div>
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink=" ">Home</a></li>
      <li *ngIf="authority === 'user'" class="nav-item">
        <a class="nav-link" routerLink="user">User Board</a>
      </li>
      <li *ngIf="authority === 'admin'" class="nav-item">
        <a class="nav-link" routerLink="admin">Admin Board</a>
      </li>

      <li *ngIf="!authority" class="nav-item">
        <a class="nav-link" routerLink="Log-in">Login</a>
      </li>
    </ul>
  </div>
</nav> -->
<div class="container">
  <router-outlet></router-outlet>
</div>

<nav
  class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light"
  id="ftco-navbar"
>
  <div class="container">
    <a class="navbar-brand" href="index.html">Digital</a>
    <div class="social-media order-lg-last">
      <p class="mb-0 d-flex">
        <a href="#" class="d-flex align-items-center justify-content-center"
          ><span class="fa fa-facebook"
            ><i class="sr-only">Facebook</i></span
          ></a
        >
        <a href="#" class="d-flex align-items-center justify-content-center"
          ><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a
        >
        <a href="#" class="d-flex align-items-center justify-content-center"
          ><span class="fa fa-instagram"
            ><i class="sr-only">Instagram</i></span
          ></a
        >
        <a href="#" class="d-flex align-items-center justify-content-center"
          ><span class="fa fa-dribbble"
            ><i class="sr-only">Dribbble</i></span
          ></a
        >
      </p>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#ftco-nav"
      aria-controls="ftco-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="fa fa-bars"></span> Menu
    </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto mr-md-3">
        <li class="nav-item active"><a class="nav-link">Home</a></li>
        <li class="nav-item"><a class="nav-link">About</a></li>
        <li class="nav-item"><a class="nav-link">Home</a></li>
        <li class="nav-item"><a class="nav-link">Favorit</a></li>
        <li class="nav-item">
          <a class="nav-link" (click)="logOut()">Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
