<app-nav></app-nav>
<header>
  <div class="container text-center">
    <!-- Logo -->
    <div class="logo">
      <h1><b>List of Hosts</b></h1>
    </div>
    <h1>Where do you want your wedding ?</h1>
  </div>
</header>

<!-- <button type="button" class="slide" (click)="goBacktoCategories()">
  <i class="icon-arrow-left"></i>
  <div>Categories</div>
</button> -->
<button
  class="btn btn-warning"
  style="margin-left: 2%"
  (click)="goBacktoCategories()"
>
  Go back to Categories
</button>

<br />
<br />
<br />

<div class="dropi">
  <div class="dropdown">
    <div style="margin-left: 2%">
      <p>Your Budget:</p>

      <input
        type="range"
        id="volume"
        name="budget"
        min="1"
        max="40000"
        [(ngModel)]="price"
        (input)="searchforAHost()"
      />
      {{ this.price }}
      <!-- <form action="">
        <label for="birthday">Your Wedding date</label>
        <input type="date" name="birthday" />
        <input type="submit" />
      </form> -->
    </div>
  </div>
  <br />
</div>
<div class="center">
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let element of hosts; let i = index">
        <h4 class="text-center"><strong>STYLE 2</strong></h4>
        <hr />
        <div class="profile-card-6">
          <img
            src="{{ element.image }}"
            class="img img-responsive"
            (click)="showDetails(element)"
          />
          <div class="profile-name">{{ element.name }} <br /></div>
          <div class="profile-position">Lorem Ipsum Donor</div>
          <div class="profile-overview">
            <div class="profile-overview">
              <div class="row text-center">
                <div class="col-xs-4">
                  <h3></h3>
                  <p></p>
                </div>
                <div class="col-xs-4">
                  <h3>{{ element.price }}</h3>
                  <p>Dinars</p>
                </div>
                <div class="col-xs-4">
                  <h3>{{ element.persons }}</h3>
                  <p>persons</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button
          type="button"
          class="btn btn-warning"
          style="margin-left: 0%"
          (click)="addAfavoriteHost(element.id)"
        >
          Add to favorites
        </button>
        <!-- <button
          type="button"
          class="btn btn-warning"
          (click)="showDetails(element)"
          style="margin-left: 12%"
        >
          Show More
        </button> -->
      </div>
    </div>
  </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <h3>Services</h3>
          <ul>
            <li><a href="#">Web design</a></li>
            <li><a href="#">Development</a></li>
            <li><a href="#">Hosting</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 item">
          <h3>About Us</h3>
          <ul>
            <li><a href="#">Company</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Careers</a></li>
          </ul>
        </div>
        <div class="col-md-6 item text">
          <h3>Wedding Planner</h3>
          <p>
            Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus
            ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique
            lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.
          </p>
        </div>
        <div class="col item social">
          <a href="#"><i class="icon ion-social-facebook"></i></a
          ><a href="#"><i class="icon ion-social-twitter"></i></a
          ><a href="#"><i class="icon ion-social-snapchat"></i></a
          ><a href="#"><i class="icon ion-social-instagram"></i></a>
        </div>
      </div>
      <p class="copyright">MSW</p>
    </div>
  </footer>
</div>
