<app-nav></app-nav>
<header>
  <div class="container text-center">
    <div class="logo">
      <h1><b>List of Food</b></h1>
    </div>
    <h1>What Do you want for food ?</h1>
  </div>
</header>

<button type="button" class="slide" (click)="goBacktoCategories()">
  <i class="icon-arrow-left"></i>
  <div>Categories</div>
</button>
<hr />

<div class="dropi">
  <div class="dropdown">
    <div>
      Your Budget:
      <input
        type="range"
        id="filterBudget"
        name="budget"
        min="1"
        max="4000"
        [(ngModel)]="price"
        (input)="searchforAFood()"
      />
      {{ this.price }}
      <label> Food choices </label>
      <select name="foodchoices" [(ngModel)]="foodtype">
        <option value="">all</option>
        <option value="Dinner">Dinner</option>
        <option value="Sweet food">Sweet food</option>
        <option value="Cake">Cake</option>
      </select>

      <button
        type="button"
        class="btn btn-warning"
        style="margin: 17px"
        (click)="search()"
      >
        Search
      </button>
    </div>

    <!-- <form action="">
      <label for="birthday">Your Wedding date</label>
      <input type="date" name="birthday" />
      <input type="submit" /> 
      <button type="button" class="btn btn-light" style="margin: 17px">
        Submit
      </button>
    </form>
  </div>
  <br /> -->
  </div>

  <div class="center">
    <div class="container">
      <div class="row">
        <div class="col-md-4" *ngFor="let element of food">
          <h4 class="text-center"><strong></strong></h4>
          <hr />
          <div class="profile-card-6">
            <img
              src="{{ element.image }}"
              class="img img-responsive"
              (click)="showDetails(element)"
            />
            <div class="profile-name">{{ element.name }} <br /></div>
            <div class="profile-position"></div>
            <div class="profile-overview">
              <div class="profile-overview">
                <div class="row text-center">
                  <div class="col-xs-4">
                    <h3></h3>
                    <p></p>
                  </div>
                  <div class="col-xs-4">
                    <h3>{{ element.price }}</h3>
                    <p>Dinars</p>
                  </div>
                  <div class="col-xs-4">
                    <h3>{{ element.foodtype }}</h3>
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button
            type="button"
            class="btn btn-warning"
            style="margin-left: 0%"
            (click)="addAfavoriteHost(element.id)"
          >
            Add to favorites
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
