.navbar{
    background-color: white;
}
.navbar-light .navbar-nav .nav-link {
    color:#000000;
    font-size:20px;
    
}
.navbar-light .navbar-nav .nav-link:hover {
    text-decoration: underline;
    cursor: pointer;
}
/* *{
    background-image: url(https://images.pexels.com/photos/1583884/pexels-photo-1583884.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
} */